*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    height:100vh;
}

.game-screen{
    min-height: 60vh;
}

@media only screen and (max-width: 500px) {
    .game-screen{
        min-height: 40vh;
    }
}   

.slot{
    height:20vh;
}